/* --- CARROSSEL --- */
.carousel {
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.carousel-item img {
    height: 500px; /* Altura fixa para desktops */
    object-fit: cover; /* Corta as bordas sem achatar a imagem */
    filter: brightness(0.6); /* Escurece a imagem para o texto aparecer */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    padding: 2rem;
    bottom: 20%;
}

/* Responsividade do Carrossel para Celular */
@media (max-width: 768px) {
    .carousel-item img {
        height: 300px;
    }
}
