
.carousel-item img {
  height: 30rem;      /* Defina a altura desejada */
  object-fit: cover;  /* Preenche o espaço cortando as sobras, sem distorcer */
  width: 10rem;   
  margin: 0 auto; 
  display: block;    /* Mantém a largura total do carrossel */
  padding: 3rem;
  border-radius: 5rem;
}

.card{
    margin-right: auto;
    padding-right: 2rem;
    border-radius: 5rem;
}
.cartoes{
    display: flex;
}
.cartoes img{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    margin-top: 1rem;
}